%form.form-horizontal(method="post" enctype='multipart/form-data')
  %fieldset
    %legend Specimen file upload form
    %input(type='file' name='fileupload')
    %input.btn-small.btn-info(type='submit' value='Upload')
    .form-actions
      %button.btn.btn-primary Commit
      %button.btn Cancel
