@font-face {
  font-family: Revolution;
  src: url('REVOLUTION.ttf');
}

.search_result_item {
  display: block;
  margin: 0 0 10px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.specimen_result, .search_result_info, .subject_result {
  padding-left: .5em;
}

.specimen_result, .subject_result {
  padding-bottom: 0em;
  margin-bottom: 0.3em;
  font-size: 20px;
  color: #2e2633
  line-height: 2em;
  font-family: Revolution, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.specimen_result {
  background-color: #556270;
}

.subject_result {
  background-color: #c7f464;
}

.search_result_info {
  font-family: Ariel, Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 13px;
  padding-top: 0.5em;
  word-break: break-all;
  word-wrap: break-word;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
